// Respomsive font size mixins and variables
@baseFontSize: 14;
.font-size(@font-size: @baseFontSize) {
    @rem: (@font-size / @baseFontSize);
    font-size: @font-size * 1px;
    font-size: ~"@{rem}rem";
}
@baseColor: #005ca8;

* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    // will remove
    // padding-right: 10px;
    font-size: 14px;
}

.major-story {
    height: 170px;
    background-image: url('https://via.placeholder.com/175x75');
    background-size: cover;
    position: relative;
    h1 {
        .font-size(16);
        position: absolute;
        width: 227px;
        right: 0;
        bottom: 33px;
        margin: 0;
        padding: 13px;
        color: @baseColor;
        border-bottom: 4px solid @baseColor;
        background: #fff;
        &:hover {
            cursor: pointer;
            color: darken(@baseColor, 10%)
        }
    }
}

.list-story {
    background: #fff;
    ul {
        list-style: none;
        padding: 0 17px;
        margin: 0;
        li {
            padding: 20px 0;
        }
    }
}

.item-story {
    border-bottom: 1px dotted #ccc;
}

.story {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    h3 {
        .font-size(14);
        margin: 0;
        flex: 1 1 0%;
        padding-right: 10px;
        color: #555555;
    }
    img {
        display: flex;
        width: 77px;
        height: 54px;
    }
}

.modal {
    display: none;
    .modal-content {
        z-index: 2;
        background: #fff;
        padding: -0;
        position: fixed;
        left: 30px;
        top: 70px;
        bottom: 70px;
        right: 30px;
        font-weight: 400;
        text-align: left;
        color: #333;
        padding-bottom: 50px;
        h2 {
            margin: 0;
            padding: 45px 15px 15px;
            background: @baseColor;
            color: #fff;
            .font-size(16);
        }
        .content {
            overflow: auto;
            max-height: 285px;
        }
        p {
            margin-bottom: 20px;
            padding: 0 15px;
            .font-size(14);
        }
        a {
            float: right;
            text-decoration: none;
            font-weight: bold;
            color: #000;
            position: absolute;
            right: 15px;
            bottom: 15px;
        }
        button.close {
            position: absolute;
            right: 10px;
            top: 10px;
            color: #fff;
            background: none;
            border: none;
            .font-size(20);
            &:hover {
                cursor: pointer;
            }
        }
    }
    &::after {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #000;
      opacity: .5;
      z-index: 1;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    body {
        display: flex;
        padding: 40px;
        flex-wrap: wrap;
        &:after {
            background: #eeecef;
            content: '';
            height: 230px;
            width: 100%;
            flex-basis: 100%;
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
        }
    }
    .major-story {
        flex: 1 1 45%;
        height: auto;
        background-image: url('https://via.placeholder.com/150x175');
        h1 {
            left: 0;
            bottom: -40px;
            width: 250px;
            .font-size(20);
            border-bottom: 8px solid @baseColor;
        }
    }
    .list-story {
        flex: 1 1 55%;
    }
    .story h3 {
         .font-size(20);
    }
    .item-story:nth-child(3) {
        border-bottom: none;
    }
    .modal {
        .modal-content {
            padding-bottom: 70px;
            left: 80px;
            right: 80px;
            top: 15%;
            bottom: initial;
            h2 {
                .font-size(24);
                padding: 40px;
            }
            p {
                .font-size(20);
                padding: 0 40px;
            }
            .content {
                max-height: 350px;
            }
            a {
                .font-size(20);
                bottom: 50px;
                right: 40px;
            }
            button.close {
                top: 27px;
                right: 35px;
                .font-size(45);
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    body {
        margin-left: 120px;
        &::after {
            height: 140px;
            z-index: 0;
        }
    }
    .major-story {
        flex: 1 1 23%;
        z-index: 1;
        background-image: url('https://via.placeholder.com/130x180');
        h1 {
            right: -150px;
            top: 50px;
            width: 325px;
            bottom: initial;
            left: initial;
            border-bottom: 16px solid @baseColor;
        }
    }
    .list-story {
        padding-top: 130px;
        ul {
            display: flex;
            li {
                padding-bottom: 0;
            }
        }
    }
    .story {
        padding: 10px;
        padding-bottom: 0;
        h3 {
            margin-bottom: 60px;
            flex-basis: 100%;
        }
        img {
            width: 100%;
            height: auto;
        }
    }
}
